    body, html {
    /* Display & Box Model */
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* Color */
    font-family: "Lucida Console";
    background: #ecdfff;
    }

    header-login {
    /* Positioning */
    position: fixed;
    top:0;
    /* Display & Box Model */
    width: 100%;
    height: 10%;
    display: block;
    /* Color */
    background-color: red;
    }
    .clearfix {
    clear:both;
    }

    header-search{
    /* Positioning */
    top: 10%;
    position: fixed;
    /* Display & Box Model */
    margin-bottom: 5%;
    width: 100%;
    height: 10%;
    display: block;
    /* Color */
    background-color: #0cf1ce;
    }
    .clearfix {
    clear:both;
    }

    #logo {
    /* Positioning */
    float: left;
    /* Display & Box Model */
    font-size: 35px;
    margin-left: 5%;
    margin-top: 1%;
    /* Color */
    color: white;
    font-family: "Lucida Console";
    }

    header-login button {
    /* Positioning */
    float: right;
    /* Display & Box Model */
    margin-top: 0.8%;
    font-size: 25px;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 15px;
    outline: none;
    width: 200px;
    height: 50px;
    /* Color */
    border: #171616 5px solid;
    background: green;
    font-family: "Rage Italic";
    color: #fff;
 
    }
    header-login button:hover{
    background: #debceb;
    }

    header-search button {
    /* Positioning */
    float: right;
    /* Display & Box Model */
    margin-top: 0.3%;
    font-size: 20px;
    margin-right: 1%;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    outline: none;
    /* Color */
    border: #2b2277 2px solid;
    color: #2d2df1;
    background: yellow;
    font-family: "Rage Italic";
    }
    header-search button:hover{
    background: #debceb;
    }

    header-search button-search {
    /* Positioning */
    float: initial;
    /* Display & Box Model */
    margin-top: 1%;
    font-size: 20px;
    margin-right: 1%;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    outline: none;
    /* Color */
    border: #e22cd6 2px dotted;
    background: #f9f9f9;
    font-family: "Rage Italic";
    color: #000000;

    }
    header-search button-search:hover{
    background: #debceb;
    }

    .content{
    /* Positioning */
    float: initial;
    /* Display & Box Model */
    margin-top: 10%;
    margin-left: 3%;
    }

    .block-news{
    /* Positioning */
    float: left;
    /* Display & Box Model */
    margin-right: 1%;
    margin-top: 5%;
    display: inline-block;
    width: 400px;
    height: 40%;
    border: black 4px solid;
    border-radius: 10px;
    /* Color */
    background: #b5b993;
    }

    .block-tags{
    /* Positioning */
    float: left;
    /* Display & Box Model */
    margin-right: 1%;
    margin-top: 5%;
    display: inline-block;
    width: 1200px;
    height: 30%;
    border-radius: 10px;
    /* Color */
    background: #aab926;
    }

    .Name {
    /* Display & Box Model */
    font-size: 30px;
    font-weight: bold;
    text-indent: 30px;
    /* Color */
    font-family: "Courier New";
    color: black;
    }

    .Name-for-tags {
    /* Display & Box Model */
    font-size: 30px;
    font-weight: bold;
    text-indent: 30px;
    /* Color */
    font-family: "Comic Sans MS";
    color: #b414b5;
    }

    .img-News{
    /* Display & Box Model */
    margin-left: 5%;
    height: 100px;
    border-radius: 5px;
    }

    .Text-News{
    /* Display & Box Model */
    text-indent: 40px;
    font-size: 17px;
    /* Color */
    color:black;
    font-family: "Bookman Old Style" ;
    }

    .Text-Author{
    /* Positioning */
    float: left;
    /* Display & Box Model */
    font-size: 17px;
    font-family: Dialog ;
    font-style: oblique;
    margin-bottom: 0%;
    margin-left: 5%;
    /* Color */
    color:black;
    }

    .more{
    /* Positioning */ 
    float: right;
    /* Display & Box Model */  
    font-size: 17px;
    margin-right: 5%;
    cursor: pointer;
    width: 120px;
    height: 37px;
    border-radius: 10px;
    outline: none;
    /* Color */
    border: #040403 2px dotted;
    background: #7850b3;
    font-family: "Monotype Corsiva";
    color: #fbff45;
    }
    .more:hover{
    background: #debceb;
    }

    .change-del{
    /* Positioning */ 
    float: left;
    /* Display & Box Model */
    font-size: 17px;
    margin-left: 2%;
    margin-right: 5%;
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    /* Color */
    border: #040403 2px dotted;
    background: #0cf1ce;
    font-family: "Rage Italic";
    color: #ad2a2a;
    }
    .change-del:hover{
    background: #debceb;
    }

    .more-tags{
    /* Positioning */
    float: left;
    /* Display & Box Model */
    font-size: 17px;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 5%;
    cursor: pointer;
    width: 150px;
    height: 42px;
    border-radius: 10px;
    outline: none;
    /* Color */
    border: #040403 2px solid;
    background: #f6f0ff;
    font-family: "Rage Italic";
    color: #5245ff;
    }
    .more-tags:hover{
    background: #debceb;
    }

    .tag{
    /* Positioning */
    float: left;
    /* Display & Box Model */
    margin-left: 2%;
    margin-right: 2%;
    /* Color */
    font-family: "Rage Italic";
    }

    .tag-all{
    /* Positioning */
    float: left;
    /* Display & Box Model */
    margin-left: 2%;
    margin-right: 2%;
    /* Color */
    font-family: "Rage Italic";
    }

    .back-button{
    /* Display & Box Model */
    font-size: 17px;
    margin-top: 5%;
    margin-left: 33%;
    cursor: pointer;
    width: 250px;
    height: 30px;
    outline: none;
    /* Color */
    border: #171616 4px solid;
    font-family: Arial;
    color: #fbfbfb;
    background: green
    }
    .back-button:hover{
    background: #debceb;
    }

    .next-button{
    /* Display & Box Model */
    font-size: 17px;
    margin-top: 5%;
    margin-left: 2%;
    cursor: pointer;
    width: 250px;
    height: 30px;
    outline: none;
    /* Color */
    font-family: Arial;
    border: #171616 4px solid;
    color: white;
    background: green;
    }
    .next-button:hover{
    background: #debceb;
    }

    .footer{
    /* Display & Box Model */
    height: 10%;
    margin-top: 2%;
    padding-left: 1%;
    align-content: center;
    justify-content: center;
    /* Color */
    background: red;
    }

    .footer p {
    /* Display & Box Model */
    margin-top: 0;
    padding-top: 6px;
    }

    .info-in-footer{
    /* Positioning */
    float: left;
    /* Display & Box Model */
    font-size: 20px;
    margin-left: 3%;
    /* Color */
    color: #040404;
    font-family: Arial;
    }

    .text{
    /* Positioning */
    float: left;
    /* Display & Box Model */
    display: inline-block;
    margin-left: 5%;
    font-size: 20px;
    text-shadow: 4px 2px red
    margin-top: 1.5%;
    margin-right: 2%;
    /* Color */
    font-family: "Lucida Console";
    }